name: Coverage

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    container:
      image: xd009642/tarpaulin
      options: --security-opt seccomp=unconfined

    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Run tests
      run: cargo tarpaulin -v --out Xml
      continue-on-error: true
    - name: Upload coverage
      uses: codecov/codecov-action@v1.5.2
      with:
        token: ${{secrets.CODECOV_TOKEN}}
